body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #0b021d;
    text-align: center;
}

header {
    background-color: #007BFF;
    color: #ffffff;
    padding: 1px 0;
}

header .logo img {
    vertical-align: middle;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

header .logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

nav.menu ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

nav.menu ul li {
    display: inline;
    margin: 0 15px;
}

nav.menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.project {
    border: 1px solid #171b20;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    background-color: #dce3e8;
}

footer {
    background-color: #007BFF;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h2 {
    color: #007BFF;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color: #333;
    color: #f1f1f1;
}

section {
    text-align: center;
}

.skill ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill ul li {
    margin: 10px;
}

#contacts {
    padding: 20px 10px;
    background-color: #fff;
    text-align: center;
}

#contacts h2 {
    font-size: 32px;
    color: #1E90FF;
    margin-bottom: 20px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    background-color: #f4f4f4;
    transition: border-color 0.3s;
}

form input:focus, form textarea:focus {
    border-color: #1E90FF;
}

